:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-light-color: #FFFFFF;
    --background-hero-and-footer-color: #2F303A;
    --background-ourteam-and-filtrbtn-color: #F5F4FA;
}

/* *,
*::before,
*::after {
    box-sizing: boder-box;
} */

body {
    background-color: #E5E5E5;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

/*-----------------------SITE-NAV----------------- */

.header {
    background-color: var(--primary-light-color);
}

.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-blackpart {
    color: var(--title-text-color);
}

.logo:hover,
.logo:focus {
    text-decoration: none;
}

.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
    text-decoration: none;
}

.site-nav .link.current {
    color: var(--accent-color);
}

.auth .mailto,
.auth .tel {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.auth .mailto:hover,
.auth .tel:hover,
.auth .mailto:focus,
.auth .tel:focus {
    color: var(--accent-color);
}

/*-----------------------HERO----------------- */

.hero-title {
    color: var(--primary-light-color);
    background-color: var(--background-hero-and-footer-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    color: var(--primary-light-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/*-----------------------FEATURES----------------- */

.feature {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.feature-text {
    font-size: 14px;
    line-height: 1.17;
}

/*-----------------------OURTEAM----------------- */

.section-card {
    background-color: var(--primary-light-color);
}
.section.ourteam {
    background-color: var(--background-ourteam-and-filtrbtn-color)
}

.ourteam-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.ourteam-specialist {
    font-size: 16px;
    line-height: 1.19;
}

/*-----------------------FOOTER----------------- */

.footer {
    background-color: var(--background-hero-and-footer-color);
}
.logo-whitepart {
    color: var(--primary-light-color);
}

.address {
    color: var(--primary-light-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
.mailto,
.tel {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.address:hover,
.address:focus,
.mailto:hover,
.mailto:focus,
.tel:hover,
.tel:focus {
    color: var(--accent-color);
}

/*-----------------------PORTFOLIO----------------- */


.filtr-button {
    color: var(--title-text-color); 
    background-color: var(--background-ourteam-and-filtrbtn-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    /* identical to box height, or 162% */
    text-align: center;
    cursor: pointer;
}
.filtr-title {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.filtr-button:hover,
.filtr-button:focus {
    color: var(--primary-light-color);
    background-color: var(--accent-color);
}


/* -----------------------OURPROJECT--------------------- */
.ourprojects-name {
font-weight: 700;
font-size: 18px;
line-height: 2.0;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
color: var(--title-text-color);
}

.ourprojects-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
}